# Assignment 9: CS437-591

# Student Name:Saiprasanna Cheedepudi
856496421

# Read the Wine Quality dataset and apply logistic regression, decision tree, random forest, KNN and Naive Bayes algorithm.

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import warnings

In [3]:
def warn(*args, **kwargs):
    pass
warnings.warn = warn

In [4]:
from __future__ import print_function
import os
#data_path = ['data']

In [11]:
import pandas as pd
import numpy as np

#filepath = os.sep.join(data_path + ['Wine_Quality_Data.csv'])
filepath = os.sep.join(['Wine_Quality_Data.csv'])
print(filepath)
df = pd.read_csv(filepath)

Wine_Quality_Data.csv

In [12]:
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [13]:
df = df.replace({'color': {'red': 1, 'white': 0}})

In [14]:
df.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,color
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [15]:
#Separate target and feature columns
X = df.iloc[:,:-1]
y = df.iloc[:,-1]
X.head()
y.head()

0    1
1    1
2    1
3    1
4    1
Name: color, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

# spilitting the dataset to train and test set
X_train, X_test, Y_train, Y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [17]:
#apply logistic regression, decision tree, random forest, KNN and Naive Bayes algorithm
lr = LogisticRegression()
lr.fit(X_train,Y_train)
y_pred = lr.predict(X_test)

In [18]:
def model_accuracy(real,predict):
    return sum(real == predict) / float(real.shape[0])

In [23]:
DLT = DecisionTreeClassifier()
DLT.fit(X_train,Y_train)
y_decision_pred = DLT.predict(X_test)

In [29]:
knn = KNeighborsClassifier()
knn.fit(X_train,Y_train)
y_knn_pred = knn.predict(X_test)

In [31]:
rf = RandomForestClassifier()
rf.fit(X_train,Y_train)
y_rf_pred = rf.predict(X_test)

In [33]:
nb = GaussianNB()
nb.fit(X_train,Y_train)
y_nb_pred = nb.predict(X_test)

In [39]:
print('Accuracy for Naive bais',model_accuracy(Y_test,y_nb_pred))
print('Accuracy for random forest',model_accuracy(Y_test,y_rf_pred))
print('Accuracy for Decision tree',model_accuracy(Y_test,y_decision_pred))
print('Accuracy for knn',model_accuracy(Y_test,y_knn_pred))
print('Accuracy for logistic regression',model_accuracy(Y_test,y_pred))

Accuracy for Naive bais 0.9684615384615385
Accuracy for random forest 0.9953846153846154
Accuracy for Decision tree 0.9823076923076923
Accuracy for knn 0.9461538461538461
Accuracy for logistic regression 0.9730769230769231

In [51]:
log_params = [{"C":0.01},{"C":0.1},{"C":1},{"C":10}]
knn_params = [{"n_neighbors":3},{"n_neighbors":4}]
decision_params = [{"criterion":"gini"},{"criterion":"entropy"}]
random_forest_params = [{"criterion":"gini"},{"criterion":"entropy"}]
naive_bayes_params = [{}]

In [52]:
model_classes = [['Logistic Regresion',LogisticRegression,log_params],
             ['kNN',KNeighborsClassifier,knn_params],
             ['Decision Tree',DecisionTreeClassifier,decision_params],
             ['Random Forest',RandomForestClassifier,random_forest_params],
             ['Naive Bayes',GaussianNB,naive_bayes_params]]

In [53]:
insights = []
for modelName, Model, params_list in model_classes:
    for params in params_list:
        model = Model(**params)
        print(model)
        model.fit(X_train,Y_train)
        score = model.score(X_test,Y_test)
        insights.append((modelName, Model, params, score))

LogisticRegression(C=0.01)
LogisticRegression(C=0.1)
LogisticRegression(C=1)
LogisticRegression(C=10)
KNeighborsClassifier(n_neighbors=3)
KNeighborsClassifier(n_neighbors=4)
DecisionTreeClassifier()
DecisionTreeClassifier(criterion='entropy')
RandomForestClassifier()
RandomForestClassifier(criterion='entropy')
GaussianNB()

In [54]:
for modelName, Model, params, score in insights:
    print(modelName, params, score)

Logistic Regresion {'C': 0.01} 0.9423076923076923
Logistic Regresion {'C': 0.1} 0.9638461538461538
Logistic Regresion {'C': 1} 0.9730769230769231
Logistic Regresion {'C': 10} 0.9746153846153847
kNN {'n_neighbors': 3} 0.9446153846153846
kNN {'n_neighbors': 4} 0.9376923076923077
Decision Tree {'criterion': 'gini'} 0.9776923076923076
Decision Tree {'criterion': 'entropy'} 0.9876923076923076
Random Forest {'criterion': 'gini'} 0.9946153846153846
Random Forest {'criterion': 'entropy'} 0.9953846153846154
Naive Bayes {} 0.9684615384615385